---
import { Icon } from 'astro-icon/components'
---

<button id="mode-btn" class="mode">
  <Icon id="mode-sun-icon" class="mode-icon sun" name="ion:sunny" />
  <Icon id="mode-moon-icon" class="mode-icon moon" name="ion:moon" />
</button>

<script is:inline>
  const modebtn = document.getElementById('mode-btn')
  const sun = document.getElementById('mode-sun-icon')
  const moon = document.getElementById('mode-moon-icon')
  const mode = document.documentElement.getAttribute('data-theme')
  const hidden = 'hidden'

  const swap = mode => {
    if (mode === 'light') {
      sun.classList.remove(hidden)
      moon.classList.add(hidden)
    } else {
      sun.classList.add(hidden)
      moon.classList.remove(hidden)
    }
  }

  swap(mode)

  const change = mode => {
    document.documentElement.setAttribute('data-theme', mode)
    localStorage.setItem('theme', mode)
    swap(mode)
  }

  const toggle = () => {
    const mode = document.documentElement.getAttribute('data-theme')
    if (mode === 'light') {
      change('dark')
    } else {
      change('light')
    }
  }

  modebtn.addEventListener('click', toggle)
</script>

<style>
  .mode-group {
    @apply flex;
    @apply items-center;
    @apply gap-1;
  }
  .mode {
    @apply p-1;
    @apply text-fore-0;
  }
  .mode-icon {
    @apply text-xl;
  }
  .mode:hover {
    @apply opacity-50;
  }
</style>
