:root {
  /* tailwind palette to hsl */
  /* basic */
  --color-white: 0deg 0.0% 100.0%; /* white : fore */
  --color-black: 0deg 0.0% 0.0%; /* black : back */
  /* neutral */
  --color-neutral-50: 0deg 0.0% 98.0%; /* 50 : fore */
  --color-neutral-100: 0deg 0.0% 96.1%; /* 100 : fore */
  --color-neutral-200: 0deg 0.0% 89.8%; /* 200 : fore */
  --color-neutral-300: 0deg 0.0% 83.1%; /* 300 : fore */
  --color-neutral-400: 0deg 0.0% 63.9%; /* 400 : semi */
  --color-neutral-500: 0deg 0.0% 45.1%; /* 500 : semi */
  --color-neutral-600: 0deg 0.0% 32.2%; /* 600 : semi */
  --color-neutral-700: 0deg 0.0% 25.1%; /* 700 : back */
  --color-neutral-800: 0deg 0.0% 14.9%; /* 800 : back */
  --color-neutral-900: 0deg 0.0% 9.0%;  /* 900 : back */
  --color-neutral-950: 0deg 0.0% 3.9%;  /* 950 : back */

  /* light mode palette */
  --light-fore-0: var(--color-neutral-950);
  --light-fore-1: var(--color-neutral-900);
  --light-fore-2: var(--color-neutral-800);
  --light-semi-2: var(--color-neutral-700);
  --light-semi-1: var(--color-neutral-600);
  --light-semi-0: var(--color-neutral-500);
  --light-back-3: var(--color-neutral-400);
  --light-back-2: var(--color-neutral-300);
  --light-back-1: var(--color-neutral-200);
  --light-back-0: var(--color-neutral-100);

  /* dark mode palette */
  --dark-fore-0: var(--color-neutral-100);
  --dark-fore-1: var(--color-neutral-200);
  --dark-fore-2: var(--color-neutral-300);
  --dark-semi-2: var(--color-neutral-400);
  --dark-semi-1: var(--color-neutral-500);
  --dark-semi-0: var(--color-neutral-600);
  --dark-back-3: var(--color-neutral-700);
  --dark-back-2: var(--color-neutral-800);
  --dark-back-1: var(--color-neutral-900);
  --dark-back-0: var(--color-neutral-950);

  /* default mode */
  --fore-0: var(--light-fore-0);
  --fore-1: var(--light-fore-1);
  --fore-2: var(--light-fore-2);
  --semi-2: var(--light-semi-2);
  --semi-1: var(--light-semi-1);
  --semi-0: var(--light-semi-0);
  --back-3: var(--light-back-3);
  --back-2: var(--light-back-2);
  --back-1: var(--light-back-1);
  --back-0: var(--light-back-0);
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fore-0: var(--dark-fore-0);
    --fore-1: var(--dark-fore-1);
    --fore-2: var(--dark-fore-2);
    --semi-2: var(--dark-semi-2);
    --semi-1: var(--dark-semi-1);
    --semi-0: var(--dark-semi-0);
    --back-3: var(--dark-back-3);
    --back-2: var(--dark-back-2);
    --back-1: var(--dark-back-1);
    --back-0: var(--dark-back-0);
    color-scheme: dark;
  }
}

:root[data-theme="light"] {
  --fore-0: var(--light-fore-0);
  --fore-1: var(--light-fore-1);
  --fore-2: var(--light-fore-2);
  --semi-2: var(--light-semi-2);
  --semi-1: var(--light-semi-1);
  --semi-0: var(--light-semi-0);
  --back-3: var(--light-back-3);
  --back-2: var(--light-back-2);
  --back-1: var(--light-back-1);
  --back-0: var(--light-back-0);
  color-scheme: light;
}

:root[data-theme="dark"] {
  --fore-0: var(--dark-fore-0);
  --fore-1: var(--dark-fore-1);
  --fore-2: var(--dark-fore-2);
  --semi-2: var(--dark-semi-2);
  --semi-1: var(--dark-semi-1);
  --semi-0: var(--dark-semi-0);
  --back-3: var(--dark-back-3);
  --back-2: var(--dark-back-2);
  --back-1: var(--dark-back-1);
  --back-0: var(--dark-back-0);
  color-scheme: dark;
}

