---
import { Icon } from 'astro-icon/components'

const { class: _class, icon, title, ...rest } = Astro.props
---

<div class:list={['cv-header', _class]} {...rest}>
  {icon && <Icon class="cv-header-icon" name={icon} />}
  <div class="cv-header-title">{title}</div>
</div>

<style>
  .cv-header {
    @apply flex;
    @apply items-center;
    @apply gap-3;
  }
  .cv-header-icon {
    @apply text-xl;
  }
  .cv-header-title {
    @apply text-xl font-bold;
  }
</style>
