---
import Document from '@layouts/Document.astro'
import Center from '@layouts/Center.astro'
---

<Document>
  <Center>
    <div class="error-box">
      <div class="error-code">404</div>
      <div class="error-msg">Not Found</div>
      <div class="url">{Astro.url.pathname}</div>
    </div>
  </Center>
</Document>

<style>
  .error-box {
    @apply flex;
    @apply gap-2;
    @apply text-lg;
  }
  .error-code {
    @apply font-bold;
  }
  .error-msg {
  }
  .url {
    @apply font-mono;
    @apply text-neutral-400;
  }
</style>
