---
import Link from '@components/Link.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import Document from '@layouts/Document.astro'
import Tags from '@layouts/Tags.astro'
import Main from '@layouts/Main.astro'
import Section from '@components/cv/Section.astro'
import SectionHeader from '@components/cv/Header.astro'
import Tag from '@components/Tag.astro'

const debug = 0
---

<Document>
  <Header debug={debug} />
  <Main class="main-more">
    <!-- Work -->
    <Section class="cv-section-more">
      <SectionHeader class="cv-header-more" icon="ion:extension-puzzle" title="Work" />

      <Section class="cv-section-body-more">
        <div class="cv-body-header-box">
          <div class="cv-body-header">Ph.D. Student</div>
          <div class="cv-body-header-opaque">XXXIX cycle</div>
          <div class="cv-body-header-opaque">Sep 2023 - Now</div>
        </div>
        <div class="cv-body">
          <div class="cv-body-opaque">Hybrid @ University of L'Aquila</div>
          <div class="cv-body-opaque">National Centre of HPC, Big Data and Quantum Computing - NextGenerationEU (PNRR)</div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">Supervisor</div>
            <div class="cv-body-val">Henry Muccini</div>
          </div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">At</div>
            <div class="cv-body-val">FrameLab Software Engineering Group</div>
          </div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">Project</div>
            <div class="cv-body-val">On the use of Machine Learning for the discovery and rapid execution of QoS-aware Microservices</div>
          </div>
        </div>
      </Section>

      <Section class="cv-section-body-more">
        <div class="cv-body-header-box">
          <div class="cv-body-header">Fellow Researcher</div>
          <div class="cv-body-header-opaque">Jun 2023 - Aug 2023</div>
        </div>
        <div class="cv-body">
          <div class="cv-body-opaque">Hybrid @ University of L'Aquila</div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">Supervisor</div>
            <div class="cv-body-val">Henry Muccini</div>
          </div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">At</div>
            <div class="cv-body-val">FrameLab Software Engineering Group</div>
          </div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">Project</div>
            <div class="cv-body-val">Concurrent monitoring environments for distributed systems</div>
          </div>
        </div>
      </Section>

      <Section class="cv-section-body-more">
        <div class="cv-body-header-box">
          <div class="cv-body-header">Ph.D. Candidate</div>
          <div class="cv-body-header-opaque">accepted</div>
          <div class="cv-body-header-opaque">Jul 2022 - Dec 2022</div>
        </div>
        <div class="cv-body">
          <div class="cv-body-opaque">Remote @ University of Italian Switzerland</div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">Supervisor</div>
            <div class="cv-body-val">Walter Binder</div>
          </div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">At</div>
            <div class="cv-body-val">Dynamic Analysis Group</div>
          </div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">Project</div>
            <div class="cv-body-val">Dynamic x86 SIMD instructions profiler for the Hotspot VM using Intel Pin</div>
          </div>
        </div>
      </Section>
    </Section>

    <!-- Education -->
    <Section class="cv-section-more">
      <SectionHeader class="cv-header-more" icon="ion:school" title="Education" />

      <Section class="cv-section-body-more">
        <div class="cv-body-header-box">
          <div class="cv-body-header">Master’s Degree in Computer Science</div>
          <div class="cv-body-header-opaque">LM-18</div>
          <div class="cv-body-header-opaque">2018 - Mar 2022</div>
        </div>
        <div class="cv-body">
          <div class="cv-body-opaque">University of L'Aquila @ L'Aquila</div>
          <div class="cv-body-opaque">Department of Information Engineering, Computer Science and Mathematics</div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">Supervisor</div>
            <div class="cv-body-val">Fabrizio Rossi</div>
          </div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">Grade</div>
            <div class="cv-body-val">110/110 cum laude</div>
          </div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">Dissertation</div>
            <div class="cv-body-val">Models for incremental public transportation service design</div>
          </div>
        </div>
      </Section>

      <Section class="cv-section-body-more">
        <div class="cv-body-header-box">
          <div class="cv-body-header">Level-1 Master Course in Mobile and Web Technologies</div>
          <div class="cv-body-header-opaque">MU1</div>
          <div class="cv-body-header-opaque">2019 - Dec 2020</div>
        </div>
        <div class="cv-body">
          <div class="cv-body-opaque">University of L'Aquila @ L'Aquila</div>
          <div class="cv-body-opaque">Department of Information Engineering, Computer Science and Mathematics</div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">Supervisor</div>
            <div class="cv-body-val">Henry Muccini</div>
          </div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">Grade</div>
            <div class="cv-body-val">70/70 cum laude</div>
          </div>
        </div>
      </Section>

      <Section class="cv-section-body-more">
        <div class="cv-body-header-box">
          <div class="cv-body-header">Bachelor’s Degree in Computer Science</div>
          <div class="cv-body-header-opaque">L-31</div>
          <div class="cv-body-header-opaque">2013 - Jul 2018</div>
        </div>
        <div class="cv-body">
          <div class="cv-body-opaque">University of L'Aquila @ L'Aquila</div>
          <div class="cv-body-opaque">Department of Information Engineering, Computer Science and Mathematics</div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">Supervisor</div>
            <div class="cv-body-val">Gianpiero Monaco</div>
          </div>
          <div class="cv-body-keyval">
            <div class="cv-body-key">Dissertation</div>
            <div class="cv-body-val">Computation and performance of Nash equilibria on Generalized Graph K-Coloring game</div>
          </div>
        </div>
      </Section>
    </Section>

    <!-- Language -->
    <Section class="cv-section-more">
      <SectionHeader class="cv-header-more" icon="ion:language" title="Languages" />

      <Section class="cv-section-body-more">
        <div class="cv-body-header-box">
          <div class="cv-body-header">Italian</div>
          <div class="cv-body-header-opaque">native</div>
        </div>
        <div class="cv-body-header-box">
          <div class="cv-body-header">English</div>
          <div class="cv-body-header-opaque">C1</div>
        </div>
      </Section>
    </Section>

    <!-- Interests -->
    <Section class="cv-section-more">
      <SectionHeader class="cv-header-more" icon="ion:balloon" title="Interests" />

      <Section class="cv-section-body-more">
        <div class="cv-body-header-box">
          <div class="cv-body-header">Programming Languages</div>
        </div>
        <div class="cv-body">
          <div class="cv-body-keyval">
            <div class="cv-body-val">Compilers</div>
            <div class="cv-body-val">Assemblers</div>
            <div class="cv-body-val">Debuggers</div>
            <div class="cv-body-val">Virtual Machines</div>
          </div>
        </div>
      </Section>

      <Section class="cv-section-body-more">
        <div class="cv-body-header-box">
          <div class="cv-body-header">Operating Systems</div>
        </div>
        <div class="cv-body">
          <div class="cv-body-keyval">
            <div class="cv-body-val">Kernels</div>
            <div class="cv-body-val">Hypervisors</div>
            <div class="cv-body-val">Linkers</div>
            <div class="cv-body-val">Loaders</div>
          </div>
        </div>
      </Section>

      <Section class="cv-section-body-more">
        <div class="cv-body-header-box">
          <div class="cv-body-header">Computer Graphics</div>
        </div>
        <div class="cv-body">
          <div class="cv-body-keyval">
            <div class="cv-body-val">Rendering Engines</div>
            <div class="cv-body-val">Compositors</div>
            <div class="cv-body-val">Display Servers</div>
            <div class="cv-body-val">Window Managers</div>
          </div>
        </div>
      </Section>
    </Section>

    <!-- Programming -->
    <Section class="cv-section-more">
      <SectionHeader class="cv-header-more" icon="ion:flask" title="Programming" />

      <Section class="cv-section-body-more">
        <div class="cv-body-header-box"></div>
        <div class="cv-body">
          <Tags class="cv-tags">
            <Tag icons="simple-icons:c" title="C" />
            <Tag icons="simple-icons:cplusplus" title="C++" />
            <Tag icons="file-icons:go-old" title="Go" />
            <Tag icons="simple-icons:rust" title="Rust" />
            <Tag icons="file-icons:assembly-intel" title="asm x86" />
            <Tag icons="file-icons:assembly-amd" title="asm AMD" />
            <Tag icons="simple-icons:python" title="Python" />
            <Tag icons="simple-icons:lua" title="Lua" />
            <Tag icons="file-icons:assembly-arm" title="asm ARM" />
            <Tag icons="file-icons:assembly-riscv" title="asm RISC-V" />
            <Tag icons="file-icons:assembly-avr" title="asm AVR" />
            <Tag icons="simple-icons:zig" title="Zig" />
            <Tag icons="simple-icons:nixos" title="Nix" />
          </Tags>
        </div>
      </Section>
    </Section>

    <!-- Technologies -->
    <Section class="cv-section-more">
      <SectionHeader class="cv-header-more" icon="ion:hammer" title="Technologies" />

      <Section class="cv-section-body-more">
        <div class="cv-body-header-box"></div>
        <div class="cv-body">
          <Tags class="cv-tags">
            <Tag icons="simple-icons:git" title="Git" />
            <Tag icons="simple-icons:mercurial" title="Mercurial" />
            <Tag icons="simple-icons:qemu" title="QEMU" />
            <Tag icons="simple-icons:docker" title="Docker" />
            <Tag icons="simple-icons:podman" title="Podman" />
            <Tag icons="simple-icons:kubernetes" title="Kubernetes" />
            <Tag icons="simple-icons:ansible" title="Ansible" />
            <Tag icons="simple-icons:gnu" title="GNU" />
            <Tag icons="simple-icons:llvm" title="LLVM" />
            <Tag icons="devicon-plain:redis" title="Redis" />
            <Tag icons="simple-icons:nixos,simple-icons:archlinux,simple-icons:gentoo,simple-icons:alpinelinux,simple-icons:voidlinux,simple-icons:linux" title="Linux" />
            <Tag icons="simple-icons:freebsd,simple-icons:openbsd,simple-icons:bsd" title="BSD" />
            <Tag icons="simple-icons:wireshark" title="Wireshark" />
            <Tag icons="simple-icons:gnubash,simple-icons:zsh,simple-icons:fishshell" title="Shell" />
            <Tag icons="simple-icons:nginx" title="NginX" />
          </Tags>
          <!--
            adblock,AdBlock
            adguard,AdGuard
            alacritty,Alacritty
            alpinedotjs,Alpine.js
            anaconda,Anaconda
            android,Android
            angular,Angular
            angularjs,AngularJS
            apachecordova,Apache Cordova
            apachekafka,Apache Kafka
            apachemaven,Apache Maven
            apachenetbeanside,Apache Netbeans IDE
            apachespark,Apache Spark
            apachetomcat,Apache Tomcat
            arduino,Arduino
            asciinema,Asciinema
            arxiv,Arxiv
            astro,Astro
            atom,Atom
            audacity,Audacity
            awesomewm,Awesome WM
            azuredevops,Azure Devops
            babel,Babel
            bat,Bat
            bazel,Bazel
            bevy,Bevy
            bitbucket,BitBucket
            bitcoin,Bitcoin
            bittorrent,BitTorrent
            bitwarden,Bitwarden
            blender,Blender
            bootstrap,Bootstrap
            borgbackup,BorgBackup
            bspwm,BSPWM
            bun,Bun
          -->
        </div>
      </Section>
    </Section>

    <!-- Projects -->
    <Section class="cv-section-more">
      <SectionHeader class="cv-header-more" icon="ion:shapes" title="Projects" />

      <Section class="cv-section-body-more">
        <div class="cv-body-header-box">
          <div class="cv-body-header">dmon</div>
          <Link class="cv-link" icon="ion:logo-github" title="github.com/v1dmon/dmon" href="https://github.com/v1dmon/dmon" target="_blank" disabled />
        </div>
        <div class="cv-body">
          <div class="cv-body-opaque">Monitoring system for Docker applications</div>
        </div>
      </Section>

      <Section class="cv-section-body-more">
        <div class="cv-body-header-box">
          <div class="cv-body-header">wgen</div>
          <Link class="cv-link" icon="ion:logo-github" title="github.com/v1dmon/wgen" href="https://github.com/v1dmon/wgen" target="_blank" disabled />
        </div>
        <div class="cv-body">
          <div class="cv-body-opaque">Workload generator for any network-reachable application</div>
        </div>
      </Section>

      <Section class="cv-section-body-more">
        <div class="cv-body-header-box">
          <div class="cv-body-header">flow</div>
          <Link class="cv-link" icon="ion:logo-github" title="github.com/v1dmon/flow" href="https://github.com/v1dmon/flow" target="_blank" disabled />
        </div>
        <div class="cv-body">
          <div class="cv-body-opaque">Workflow-driven experiment controller for dmon and wgen</div>
        </div>
      </Section>
    </Section>
  </Main>
  <Footer debug={debug} />
</Document>

<style>
  .main-more {
    @apply flex flex-col;
    @apply gap-y-6;
  }
  .cv-section-more {
    @apply gap-y-3;
  }
  .cv-header-more {
    /* @apply bg-back-1; */
  }
  .cv-section-body-more {
    @apply gap-y-1;
    /* @apply bg-back-0; */
  }
  .box {
    @apply p-3;
    @apply border-2 border-back-2;
  }
  .cv-body {
    @apply flex flex-col;
  }
  .cv-body-header-box {
    @apply flex flex-wrap items-center gap-x-2;
  }
  .cv-body-header {
    @apply text-lg font-bold;
  }
  .cv-body-header-opaque {
    @apply text-lg opacity-70;
  }
  .cv-body-opaque {
    @apply opacity-80;
  }
  .cv-body-keyval {
    @apply flex flex-wrap gap-x-2;
  }
  .cv-body-key {
    @apply font-bold;
  }
  .cv-body-val {
  }
  .cv-link {
    @apply text-lg;
  }
  .cv-tags {
  }
</style>
