---
import Link from '@components/Link.astro'

const today = new Date()

const { debug = 0 } = Astro.props
const h = Array.from(Array(debug + 1).keys())
---

<footer>
  <nav class="footer foo">
    <div class="footer-flex">
      <div class="footer-side">
        {h.map(_ => <div class="footer-copy">MIT &copy; {today.getFullYear()}</div>)}
      </div>
      <div class="footer-side !gap-y-4">
        {h.map(_ => <Link class="footer-link" icon="ion:logo-gitlab" href="https://gitlab.com/resu" target="_blank" />)}
        <Link class="footer-link" icon="ion:logo-github" href="https://github.com/s3gflt" target="_blank" />
        <Link class="footer-link" icon="ion:logo-linkedin" href="https://www.linkedin.com/in/valentino-di-giosaffatte-527a61243" target="_blank" />
        <Link class="footer-link" icon="ion:logo-mastodon" href="/" target="_blank" disabled />
        <Link class="footer-link" icon="ion:logo-reddit" href="/" target="_blank" disabled />
        <Link class="footer-link" icon="ion:logo-instagram" href="/" target="_blank" disabled />
        <Link class="footer-link" icon="ion:logo-youtube" href="/" target="_blank" disabled />
        <Link class="footer-link" icon="ion:logo-twitch" href="/" target="_blank" disabled />
      </div>
    </div>
  </nav>
</footer>

<style>
  footer {
    @apply px-4;
    @apply bg-back-0;
    @apply text-fore-0;
  }
  .foo {
    @apply max-w-4xl mx-auto;
  }
  .footer {
    @apply py-4;
  }
  .footer-flex {
    @apply flex flex-wrap;
    @apply justify-between;
    @apply gap-x-3 gap-y-6;
  }
  .footer-side {
    @apply flex flex-wrap;
    @apply items-center;
    @apply gap-3;
  }
  .footer-copy {
  }
  .footer-link {
    @apply text-xl;
  }
</style>
