---
import Link from '@components/Link.astro'
import ModeSwitch from '@components/mode/Switch.astro'

const { debug = 0 } = Astro.props
const h = Array.from(Array(debug + 1).keys())
---

<header>
  <nav class="navbar nav">
    <div class="nav-flex">
      <div class="navbar-side">
        {h.map(_ => <Link class="navbar-brand" href="/" title="resu" />)}
        <ModeSwitch />
      </div>
      <div class="navbar-side">
        {h.map(_ => <Link class="navbar-link" href="/blog" icon="ion:logo-rss" iconclass="text-xl" title="blog" disabled />)}
        <Link class="navbar-link" href="/music" icon="ion:headset" iconclass="text-xl" title="music" disabled />
      </div>
    </div>
  </nav>
</header>

<style>
  header {
    @apply px-4;
    @apply bg-back-0;
    @apply text-fore-0;
  }
  .nav {
    @apply max-w-4xl mx-auto;
  }
  .navbar {
    @apply py-4;
  }
  .nav-flex {
    @apply flex flex-wrap;
    @apply justify-between;
    @apply gap-x-3 gap-y-6;
  }
  .navbar-side {
    @apply flex flex-wrap;
    @apply items-center;
    @apply gap-3;
  }
  .navbar-brand {
    @apply text-xl;
    @apply font-bold;
  }
  .navbar-link {
    @apply text-lg;
  }
</style>
