---
import { Icon } from 'astro-icon/components'

const { class: _class, title, icon, iconclass, href, target, disabled, ...rest } = Astro.props
---

<a class:list={[_class, { 'with-icon': icon && title }, { 'only-icon': icon && !title }, { disabled: disabled }]} href={href} target={target} {...rest}>
  {icon && <Icon class={iconclass} name={icon} />}
  {title}
</a>

<style>
  a {
    @apply text-fore-0;
    @apply px-1;
    @apply transition duration-75;
  }
  a:hover {
    @apply opacity-50;
  }
  .disabled {
    @apply pointer-events-none opacity-50;
  }
  .with-icon {
    @apply flex;
    @apply items-center;
    @apply gap-2;
  }
  .only-icon {
    @apply p-1;
  }
</style>
