---
import { Icon } from 'astro-icon/components'

const { class: _class, icons, title, ...rest } = Astro.props
---

<div class:list={['tag', _class]} {...rest}>
  {icons && icons.split(',').map((icon: string) => <Icon class="tag-icon" name={icon} />)}
  {title && <div class="tag-title">{title}</div>}
</div>

<style>
  .tag {
    @apply flex;
    @apply items-center;
    @apply gap-2;
    @apply py-0.5 px-1.5;
    @apply opacity-80;
    @apply bg-back-2;
    @apply border border-back-3;
  }
  .tag-icon {
    @apply text-lg;
  }
  .tag-title {
  }
</style>
