---
const { class: className, ...rest } = Astro.props
---

<main>
  <div class:list={['center-box', [className]]} {...rest}>
    <slot />
  </div>
</main>

<style>
  main {
    @apply bg-back-0;
    @apply text-fore-0;
  }
  .center-box {
    @apply h-screen;
    @apply grid;
    @apply place-content-center;
  }
</style>
