---
import '@fontsource/open-sans'
import '@fontsource/roboto-mono'
import '@styles/app.css'
---

<html lang="en">
  <head>
    <script is:inline>
      const theme = localStorage.getItem('theme')
      if (theme === null) {
        document.documentElement.setAttribute('data-theme', 'light')
        localStorage.setItem('theme', 'light')
      } else {
        document.documentElement.setAttribute('data-theme', theme)
        localStorage.setItem('theme', theme)
      }
    </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>resu</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    @apply bg-back-0 text-fore-0;
    @apply break-words;
  }
</style>
