---
const { class: className, ...rest } = Astro.props
---

<main>
  <div class:list={['content-box', className]} {...rest}>
    <slot />
  </div>
</main>

<style>
  main {
    @apply px-4 py-6;
    @apply bg-back-0;
    @apply text-fore-0;
  }
  .content-box {
    @apply max-w-4xl mx-auto;
  }
</style>
